P1/Fase 2/configuracionDronSchema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:import namespace="http://www.piat.upm.es/actuadoresSchema" schemaLocation="./actuadoresSchema.xsd"/>
    <xsd:import namespace="http://www.piat.upm.es/sensoresSchema" schemaLocation="./sensoresSchema.xsd"/>
    <xsd:element name="configuracionDron">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="actuadores" type="xsd:string"></xsd:element> <!-- poner los elemenos-->
                <xsd:element name="sensores"></xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>